<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Detalle de producto'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

    <main>

      <p class="info"> <i class="hoja fas fa-leaf"></i> Productos con impacto positivo <i class="bateria fas fa-battery-three-quarters"></i></p>



      <!-- CONTENEDOR MAYOR CON DETALLE DEl PRODUCTO, CARUSEL DE IMAGENES Y BOTONES DE COMPRAR, AGREGAR-->  
      <!-- AL CARRITO Y EDITAR PRODUCTO -->

      <section class="main-container">

          <div class="model-title"><%=product.name%></div> 

          <!-- CONTENEDOR MAYOR CON CARUSEL DE IMAGENES Y DETALLES DEL PRODUCTO-->

          <!-- ESTO ME SIRVE PARA HACER DISPLAY FLEX -->

          <div class="images-product-container">
                
                <!-- CONTENEDOR DE IMAGENES -->
                
                <div class="images-container">
                
                    <!-- IMAGENES CON NUMERO DE IMAGEN ASOCIADO EN TAMAÑO 100% --> 
                
                    <div class="images">
                      <div class="imageNumber">1 / 4</div>
                        <img src="/images/productos/<%=product.image%>" style="width:100%">
                    </div>
                  
                    <div class="images">
                      <div class="imageNumber">2 / 4</div>
                        <img src="/images/productos/<%=product.image%>" style="width:100%">
                    </div>
                  
                    <div class="images">
                      <div class="imageNumber">3 / 4</div>
                        <img src="/images/productos/<%=product.image%>" style="width:100%">
                    </div>
                  
                    <div class="images">
                      <div class="imageNumber">4 / 4</div>
                        <img src="/images/productos/<%=product.image%>" style="width:100%">
                    </div>
                  
                  
                  
                    <!-- BOTON DE ATRAS Y ADELANTE PARA LAS FOTOS -->

                    <a class="previous" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  
                  
                  
                    <!-- IMAGENES EN MINIATURA 
                  
                    <div class="row">
                        <div class="column">
                          <img class="transp cursor" src="/images/productos/<%=product.image%>" style="width:100%" onclick="currentSlide(1)" alt="volante">
                        </div>
                        <div class="column"> 
                          <img class="transp cursor" src="/images/productos/<%=product.image%>" style="width:100%" onclick="currentSlide(2)" alt="panel-navegacion">
                        </div>
                        <div class="column">
                          <img class="transp cursor" src="/images/productos/<%=product.image%>" style="width:100%" onclick="currentSlide(3)" alt="ambiente-trasero">
                        </div>
                        <div class="column">
                          <img class="transp cursor" src="/images/productos/<%=product.image%>" style="width:100%" onclick="currentSlide(4)" alt="ambiente-delantero">
                        </div>
                    </div>
                    -->
                  
                     <!-- SCRIPT JS AGREGADO PARA QUE CAMBIEN LOS NUMEROS DE IMAGENES Y CAMBIEN LAS FOTOS EN EL CARUSEL -->
                  
                    <script>
                    
                        var slideIndex = 1;
                        showSlides(slideIndex);
                    
                        // CON ESTA FUNCION SE CONTROLAN LOS BOTONES DE ATRAS Y ADELANTE
                    
                        function plusSlides(n) {
                          showSlides(slideIndex += n);
                        }
                      
                        // CON ESTA FUNCION SE CONTROLAN LAS IMAGENES EN MINIATURA
                      
                        function currentSlide(n) {
                          showSlides(slideIndex = n);
                        }
                      
                        // CON ESTA FUNCION SE CONTROLAN LAS IMAGENES EN MINIATURA
                      
                        // CADA VEZ QUE SE MUESTRA UNA IMAGEN SE LE APLICA SUS EFECTOS
                      
                        //SE ESTRUCTURA PARA QUE SIEMPRE SEA UN CICLO CONTINUO, 
                        // ELIJAS PARA ADELANTE O ATRAS LOS BOTONES
                      
                        function showSlides(n) {
                          var i;
                          var slides = document.getElementsByClassName("images");
                          var dots = document.getElementsByClassName("transp");
                          if (n > slides.length) {slideIndex = 1}
                          if (n < 1) {slideIndex = slides.length}
                          for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                          }
                          for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                          }
                          slides[slideIndex-1].style.display = "block";
                          dots[slideIndex-1].className += " active";
                        }
                      
                    </script>

                </div>
              
              
              
              
                <!-- CONTENEDOR DE PRODUCTO -->
                      
                <!-- CONTENEDOR DE DETALLES DEL PRODUCTO Y CARACTERISTICAS -->
            
                <div class="product-details-container">
                
                    <h3 class="characteristics-title"> <%= product.mainDescription%></h3>
                    <!--
                    <div class="characteristic"><%= product.dataChar1%></div>
                    </br>
                    <h3 class="characteristics-title"> <%= product.characteristic2%></h3>
                    <div class="characteristic"><%= product.dataChar2%></div>
                    -->
                  
                    </br> 
                  
                    <div class="description-list">   
                    
                      <div class="description"><%= product.secondaryDescription%></div>
                      <!--
                      <div class="description">0 a 100 km/h: 2.1s</div>
                      <div class="description">250 km/h 1/4 milla</div>
                    -->
                    <br></br>
                    <p class="info-1" >
                      <del><span>$<%= product.price %></span></del>
                      <b style="color: rgb( 34, 200, 81);">/ <%= product.discount %> % OFF</b>
                    </p>
                    <p class="info-2">$<%= product.price - (product.price / 100 *product.discount)%></p>
                    </div>

                    <!--CONTENEDOR DE BOTONES COMPRAR, AGREGAR CARRITO, ELIMINAR Y EDITAR PRODUCTO -->
                
          <div class="buttons-buy-addToChart">

            <% if (locals.isLogged) { %>
            <button type="submit" class="button-buy-add">Comprar</button>
            <button type="submit" class="button-buy-add">Agregar al carrito</button>
            <a href="/products/edit/<%= product.id %>" class="button-buy-add">Editar producto</a>
            <form class="eliminar" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST"> 
              <button type="submit" class="button-buy-add">Eliminar producto</button>
            </form>
            
            <%} else {%>
              <button type="submit" class="button-buy-add">Comprar</button>
              <button type="submit" class="button-buy-add">Agregar al carrito</button>
              <%}%>
            
      
      
      </div>
 
                </div>

                 
          </div>

          

      </section>

    </main>

    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 


    
</body>

</html>