<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Crear producto'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

 
    <main>
        
        <!-- FORMULARIO DE CREACION DEL PRODUCTO -->

        <div class="register-container">

              <!-- TITULO DEL REGISTRO-->
              
              
              <form action="../products/" method="POST" enctype="multipart/form-data">

                <div class="registration-title"> Ingresá los datos para crear el producto</div>
              
                <!-- CAMPOS A COMPLETAR DEL NOMBRE, DESCRIPCION PRINCIPAL Y SECUNDARIA DEL PRODUCTO -->
              
                <div class="field">
                  <label for="name">Nombre del producto:</label>
                  <input type="text" name="name" id="name" class="input form-control <%=locals.errors && locals.errors.name ? 'is-invalid' : null  %> " value="<%= locals.oldData ? oldData.name : null %>">

                  <%if (locals.errors && locals.errors.name) { %> 
                    <p class="errors"><%= errors.name.msg %> </p>
                  <%} %> 
                  
                </div>
              
              
                <div class="field">
                  <label for="mainDescription">Descripción principal:</label>
                  <textarea name="mainDescription" id="mainDescription"  class="input form-control <%=locals.errors && locals.errors.mainDescription ? 'is-invalid' : null  %> "><%= locals.oldData ? oldData.mainDescription : null %></textarea> 

                  <%if (locals.errors && locals.errors.mainDescription) { %> 
                    <p class="errors"><%= errors.mainDescription.msg %> </p>
                  <%} %> 

                </div>


                <div class="field">
                  <label for="secondaryDescription">Descripción secundaria:</label>
                  <textarea name="secondaryDescription" id="secondaryDescription" class="input form-control <%=locals.errors && locals.errors.secondaryDescription ? 'is-invalid' : null %>"><%= locals.oldData ? oldData.secondaryDescription : null %></textarea> 

                  <%if (locals.errors && locals.errors.secondaryDescription) { %> 
                    <p class="errors"><%= errors.secondaryDescription.msg %> </p>
                  <%} %> 

                </div>
              
               <!-- CAMPOS A COMPLETAR DE LA IMAGEN, CATEGORIA DEL PRODUCTO, TIPO DE PRECIO, PRECIO Y DESCUENTO -->
              
               <div class="field">
                 <label for = "newProductImage">Imagen de Producto:</label>
                <input type="file" name="newProductImage" class="input color-white" >
                <%if (locals.errors && locals.errors.newProductImage) { %>
                  <p class="errors"><%= errors.newProductImage.msg %> </p>
                <%} %>
               
              </div>

                <div class="field">
                  <label for="category">Categoría de productos</label>
                  <select name="category" class="input" >
                    <option value="" disabled selected>- Seleccionar categoría - </option>
                        <%allCategories.forEach(category => { %>
                          <option value="<%= category.id %>"><%= category.category %></option>
                        <% });%>    
                  </select>
                  <%if (locals.errors && locals.errors.category) { %> 
                    <p class="errors"><%= errors.category.msg %> </p>
                  <%} %> 
                </div> 

                <div class="field">
                  <label for="status" class="form-label">Estado del producto</label>
                  <select name="status" id="status" class="input">

                    <option value="" disabled selected>- Seleccionar estado del producto - </option>
                    
                      <%  allStatuses.forEach(status => { %>
                    <option value="<%= status.id %>"><%= status.status %></option>
                      <% }); %> 
                      
                  </select>
                  <%if (locals.errors && locals.errors.status) { %> 
                    <p class="errors"><%= errors.status.msg %> </p>
                  <%} %> 
                </div>
                
                <div class="field">
                  <label for="price">Precio</label>
                  <input type="number" step="0.01" name="price" id="price" class="input form-control <%=locals.errors && locals.errors.price ? 'is-invalid' : null  %> " value="<%= locals.oldData ? oldData.price : null %>">  
                  <%if (locals.errors && locals.errors.price) { %> 
                    <p class="errors"><%= errors.price.msg %> </p>
                  <%} %>    
                </div>
              
                <div class="field">
                  <label for="discount">Descuento: </label>
                  <input type="number" step="0.01" name="discount" id="discount" class="input form-control <%=locals.errors && locals.errors.discount ? 'is-invalid' : null  %> " value="<%= locals.oldData ? oldData.discount : null %>">
                  <%if (locals.errors && locals.errors.discount) { %> 
                    <p class="errors"><%= errors.discount.msg %> </p>
                  <%} %>       
                </div>
              
                <!-- BOTONES PARA INGRESAR Y CANCELAR REGISTRO -->
                
                <div class="login-cancel-button">

                  <button type="submit" required class="registration-button">Ingresar</button>
              
                  <button type="reset" required class="registration-button">Cancelar</button>
                
                 </div>
                
                  
              </form>
        
        </div>
         
    </main>
   
    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

    
</body>

</html>