<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Modificar producto'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

 
    <main>
        
        <!-- FORMULARIO PARA MODIFICAR EL PRODUCTO -->

        <div class="register-container">

              <!-- TITULO DEL REGISTRO-->
              
              
              <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                <div class="registration-title"> Modificá los datos del producto: <strong style="color: green"> <%= product.name %> </strong></div>
              
                <!-- CAMPOS A MODIFICAR DEL NOMBRE, DESCRIPCION PRINCIPAL Y SECUNDARIA DEL PRODUCTO  -->
              
                <div class="field">
                  <label for="name">Nombre del producto:</label>
                  <% if (locals.errors) {%> 
                    <input type="text" name="name" id="name" class="input form-control <%=locals.errors && locals.errors.name ? 'is-invalid' : null  %> " value="<%= locals.oldData ? oldData.name : null %>">
                    <% }else { %> 
                      <input type="text" name="name" id="name" value="<%= product.name %>" class="input">
                      <% } %> 

                  <%if (locals.errors && locals.errors.name) { %> 
                    <p class="errors"><%= errors.name.msg %> </p>
                  <%} %> 

                </div>
              
              
                <div class="field">
                  <label for="mainDescription">Descripción principal:</label>
                  <%if (locals.errors) { %> 
                    <textarea name="mainDescription" id="mainDescription"  class="input form-control <%=locals.errors && locals.errors.mainDescription ? 'is-invalid' : null  %> "><%= locals.oldData ? oldData.mainDescription : null %></textarea>
                    <% }else{ %>
                      <textarea name="mainDescription" id="mainDescription" class="input"><%= product.mainDescription%></textarea>
                      <% } %> 

                  <%if (locals.errors && locals.errors.mainDescription) { %> 
                    <p class="errors"><%= errors.mainDescription.msg %> </p>
                  <%} %> 

                </div>
              

                <div class="field">
                  <label for="secondaryDescription">Descripción secundaria:</label>
                  <%if (locals.errors) { %>
                    <textarea name="secondaryDescription" id="secondaryDescription" class="input form-control <%=locals.errors && locals.errors.secondaryDescription ? 'is-invalid' : null %>"><%= locals.oldData ? oldData.secondaryDescription : null %></textarea>
                    <% }else { %>  
                      <textarea name="secondaryDescription" id="secondaryDescription" class="input"><%= product.secondaryDescription%></textarea>
                    <% } %>  

                  <%if (locals.errors && locals.errors.secondaryDescription) { %> 
                    <p class="errors"><%= errors.secondaryDescription.msg %> </p>
                  <%} %> 

                </div>
              

               <!-- CAMPO PARA AGREGAR ARCHIVO -->
               
                <div class="field">
                  <label for = "newProductImage">Imagen de Producto:</label>
                  <input type="file" name="editedProductImage" class="input color-white"> <!-- Con esto habilito el botón para agregar archivo -->

                  <%if (locals.errors && locals.errors.editedProductImage) { %>
                    <p class="errors"><%= errors.editedProductImage.msg %> </p>
                  <%} %>
                 
                </div>
                    
              
                 <!-- CAMPOS A MODIFICAR DE LA CATEGORIA DEL PRODUCTO, TIPO DE PRECIO, PRECIO Y DESCUENTO -->
              
                 <div class="field">
                  <label for="category">Categoría de productos</label>
                  <select name="category" class="input" >
           
                    <% allCategories.forEach(category => { %>
                      <option value="<%= category.id %>" <% if (product.categoryId == category.id) { %><%= 'selected' %><% }; %>><%= category.category %></option>
                      <% }); %>
                              
                  </select>

                  <%if (locals.errors && locals.errors.category) { %> 
                    <p class="errors"><%= errors.category.msg %> </p>
                  <%} %> 

                </div>  
                
                <div class="field">
                  <label for="status" class="form-label">Estado del producto</label>
                  <select name="status" id="status" class="input">

                    <% allStatuses.forEach(status => { %>
                      <option value="<%= status.id %>" <% if (product.statusId == status.id) { %><%= 'selected' %><% }; %>><%= status.status %></option>
                      <% }); %>

                  </select>
                  <%if (locals.errors && locals.errors.status) { %> 
                    <p class="errors"><%= errors.status.msg %> </p>
                  <%} %> 
                </div>

                
                <div class="field">
                  <label for="price">Precio</label>

                  <%if (locals.errors) { %>
                    <input type="number" step="0.01" name="price" id="price" class="input form-control <%=locals.errors && locals.errors.price ? 'is-invalid' : null  %> " value="<%= locals.oldData ? oldData.price : null %>">
                    <% }else{ %>
                      <input type="number" step="0.01" name="price" id="price" value="<%= product.price%>" class="input">
                    <% } %>  

                  <%if (locals.errors && locals.errors.price) { %> 
                    <p class="errors"><%= errors.price.msg %> </p>
                  <%} %>    
                </div>

                <div class="field">
                  <label for="discount">Descuento: </label>
                  <%if (locals.errors) { %>
                    <input type="number" step="0.01" name="discount" id="discount" class="input form-control <%=locals.errors && locals.errors.discount ? 'is-invalid' : null  %> " value="<%= locals.oldData ? oldData.discount : null %>">
                    <% }else { %>
                      <input type="number" step="0.01" name="discount" id="discount" value="<%= product.discount%>" class="input">
                      <% } %>   
                  <%if (locals.errors && locals.errors.discount) { %> 
                    <p class="errors"><%= errors.discount.msg %> </p>
                  <%} %>   
                </div>
              
                  
                 <!-- BOTONES PARA INGRESAR Y CANCELAR REGISTRO -->
                
                 <div class="login-cancel-button">

                  <button type="submit" required class="registration-button">Guardar</button>
              
                  <button type="reset" required class="registration-button">Cancelar</button>
                
                 </div>
                
                  
              </form>
        
        </div>
         
    </main>
   
    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

    
</body>

</html>