<!DOCTYPE html>
<html lang="en">

    <!-- LLAMO AL HEAD DE PARTIALS-->

    <%- include('../partials/head', { title: 'Listado de productos'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %>

    <main>

        <p class="info"> <i class="hoja fas fa-leaf"></i> Productos con impacto positivo <i class="bateria fas fa-battery-three-quarters"></i></p>

        <!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultado de su busqueda</h2>
			</div>


			<%if (products.length > 0){ %> 
				<% products.forEach(product => {%>
					
					<div class="col-12 col-sm-6 col-lg-3">

						<section class="product-box">
							<a href="/products/list/<%= product.id%>">
								<figure class="product-box_image">
									<img src="/images/productos/<%=product.image%>" alt="imagen de producto">
								</figure>
								<article class="product-box_data">
									<h2>$<%= product.price %></h2>
									<span><%= product.discount %>% OFF</span>
									<p><%= product.name %></p>
									<i class="hoja fas fa-leaf"></i>
								</article>
							</a>
						</section>
					</div>
            
        		<% }); %>

			<% } else {%> 
					<div class="">

						<p class="no-products"> Disculpas. Tu producto no se encuentra en nuestra base de datos. Prueba otra vez!! <i class="hoja fas fa-leaf"></i> </p>
						<br>
						<br>
						
					</div>

			<% } %>

		
		</div>
	</div>
	<!-- /todos los productos -->
       
    </main>

    <!-- LLAMO AL FOOTER DE PARTIALS-->

    <%- include('../partials/footer') %> 

</body>

</html>



      
