<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Login de usuario'}) %>

<body>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 

    
    <main>
        
      <!-- FORMULARIO DE LOGIN -->

      <!-- TITULO DEL LOGIN-->

      <form action="../users/login" method="POST" class="create-formularie">

            <h3 class="login-title"> Coloca tus datos para ingresar</h3>
      
      <!--  CAMPOS A COMPLETAR DEL NOMBRE USUARIO, PASSWORD  -->

            <div class="field">
                <label for="email">Correo electrónico:</label>
                <input 
                    type="text" 
                    name="email" 
                    id="email" 
                   
                    class="input"
                    value="<%= locals.oldData ? oldData.email : null %>"
                    >
                <!-- SI HUBO ERRORES Y SI VINO EN LOS ERRORES EL CAMPO EMAIL IMPRIMO UN MENSAJE DE ERROR  -->
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>
            </div>
        
            <div class="field">
                <label for="password">Contraseña:</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                
                    class="input <%= locals.errors && errors.password ? 'is-invalid': null %>">
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                <% } %>
            </div>

            <!-- BOTONES PARA INGRESAR Y CANCELAR -->
            <div class="buttons-login">
                <button type="submit" class="login-button">Ingresar</button>
            
                <button type="reset" class="login-button">Cancelar</button>

            </div>
        
            <!-- CAMPOS PARA RECORDAR USUARIO Y PASSWORD Y BOTONES DE OLVIDO 
            Y LINK A GENERAR USUARIO Y/O CONTRASEÑA--> 
            
            <div class="field check">
                <label for="rememberUser">Recordar mi usuario</label>
                <input type="checkbox" name="rememberUser">
            </div>

            <div class="buttons-login">
                <button type="submit" class="login-button">¿Olvidó su contraseña o usuario?</button>

                <button type="submit" class="login-button">Crear nueva contraseña o usuario</button>
            </div>
      </form> 
      

    </main>

     <!-- LLAMO AL FOOTER DE PARTIALS-->

     <%- include('../partials/footer') %> 

   

    
</body>

</html>