<!DOCTYPE html>
<html lang="en">

<!-- LLAMO AL HEAD DE PARTIALS-->

<%- include('../partials/head', { title: 'Perfil de usuario'}) %>

<body >

	<main>

    <!-- LLAMO AL HEADER DE PARTIALS-->

    <%- include('../partials/header') %> 
	
	<!-- Container -->
	<p class="info"> <i class="hoja fas fa-leaf"></i> Productos con impacto positivo <i class="bateria fas fa-battery-three-quarters"></i></p>

	<div class="info-profile">
		<a class="link-profile" href="/">Home</a>
		<a class="link-profile"  href="/users/logout">Logout</a>
		<h3 class="info-profile welcome">Bienvenido/a : <strong class="user-info"><%= user.name%></strong></h2> 
		<h5>Email: <strong class="user-info"><%=user.email%></strong></h2> </h3>
		
	</div>

	<div class="info-img">
		<img class="img-user-profile" src="/images/users/<%=user.image%>"  alt="imagen del usuario">
	</div>
	
	 
	 <!-- LLAMO AL FOOTER DE PARTIALS-->

     <%- include('../partials/footer') %> 
	</main>
</body>
</html>